@page "/sablona"
@using TestCore.Models
@using TestCore.Datalayer
@using Microsoft.EntityFrameworkCore
@inject DBContext dbContext

<h3>CisAgendaSablona</h3>

<br />

<table class="table">

@if(cisAgendaSablonaLoad == null){
    <p>Loading...</p>
}
else
{
    <RadzenButton style="margin-bottom: 10px" Text="Přidat novou šablonu" Click="@InsertRow"/>
    <RadzenDataGrid @ref="agendaSablonaGrid" AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
        Data="@agends" TItem="CisAgendaSablona" ColumnWidth="1300px" RowCreate="@OnCreateRow" RowUpdate="@OnUpdateRow">
        <Columns>

            <RadzenDataGridColumn Title="Kod Sablona" TItem="CisAgendaSablona" Property="KodSablona" Width="300px">
                <EditTemplate Context="cisAgendaSablona">
                    <RadzenTextBox @bind-Value="cisAgendaSablona.KodSablona" Style="width:100%; display: block" Name="KodSablona" />
                </EditTemplate>    
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Title="Agenda" TItem="CisAgendaSablona" Property="GidSablona" Width="300px">
                <Template Context="cisAgendaSablona">
                    <RadzenLabel Text="@cisAgendas.FirstOrDefault(s => s.GidProjekt == cisAgendaSablona.GidProjekt).PopisAgenda" />
                </Template>
                <EditTemplate Context="cisAgendaSablona">
                    <RadzenDropDown AllowClear="false" Class="w-100" 
                                Data="@cisAgendas" 
                                TextProperty="PopisAgenda" ValueProperty="GidProjekt"
                                @bind-Value="@cisAgendaSablona.GidProjekt"
                                Change=@(c => OnChange(c))/>
                </EditTemplate>                
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Title="Upravit" TItem="CisAgendaSablona" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="cisAgendaSablona">
                    <RadzenButton Icon="add_circle_outline" ButtonStyle="ButtonStyle.Warning" Class="m-1" Click="@(args => EditRow(cisAgendaSablona))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="cisAgendaSablona">
                    <RadzenButton Icon="check_circle" ButtonStyle="ButtonStyle.Success" Class="m-1" Click="@((args) => SaveRow(cisAgendaSablona))">
                    </RadzenButton>
                    <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger" Class="m-1" Click="@((args) => CancelEdit(cisAgendaSablona))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn Title="Smazat" TItem="CisAgendaSablona" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
                <Template Context="cisAgenda">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="report" Class="m-1" Click="@(args => DeleteRow(cisAgenda))"  @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
}
</table>

@code{
    RadzenDataGrid<CisAgendaSablona> agendaSablonaGrid;
    IEnumerable<CisAgendaSablona> cisAgendaSablonaLoad;
    IEnumerable<CisAgenda> cisAgendas;
    IList<CisAgendaSablona> agends;
    CisAgendaSablona cisAgendaSablonaToInsert;
    object cisAgenda;
    
    protected override async Task OnInitializedAsync()
    {
        cisAgendaSablonaLoad = await Task.Run(()=>Task.FromResult(new List<CisAgendaSablona>()));
        cisAgendas = dbContext.Agendas.ToList();
        agends = dbContext.AgendaSablonas.ToList();
    }

    async Task EditRow(CisAgendaSablona cisAgendaSablona)
    {
        await agendaSablonaGrid.EditRow(cisAgendaSablona);
    }

    void OnUpdateRow(CisAgendaSablona cisAgendaSablona)
    {
        if(cisAgendaSablona == cisAgendaSablonaToInsert)
        {
            cisAgendaSablonaToInsert = null;
        }
        dbContext.Update(cisAgendaSablona);
        dbContext.SaveChanges();
    }

    async Task SaveRow(CisAgendaSablona cisAgendaSablona)
    {
        if(cisAgendaSablona == cisAgendaSablonaToInsert)
        {
            cisAgendaSablonaToInsert = null;
        }
        // Save into actual object
        if( cisAgendaSablonaToInsert != null) {
            cisAgendaSablona.GidProjekt = cisAgendaSablonaToInsert.GidProjekt;
        }

        await agendaSablonaGrid.UpdateRow(cisAgendaSablona);
    }

    void CancelEdit(CisAgendaSablona cisAgendaSablona)
    {
        if (cisAgendaSablona == cisAgendaSablonaToInsert)
        {
            cisAgendaSablonaToInsert = null;
        }
        agendaSablonaGrid.CancelEditRow(cisAgendaSablona);

        var cisAgendaSablonaEntry = dbContext.Entry(cisAgendaSablona);
        if (cisAgendaSablonaEntry.State == EntityState.Modified){
            cisAgendaSablonaEntry.CurrentValues.SetValues(cisAgendaSablonaEntry.OriginalValues);
            cisAgendaSablonaEntry.State = EntityState.Unchanged;
        }
    }

    async Task DeleteRow(CisAgendaSablona cisAgendaSablona)
    {
        if(cisAgendaSablona == cisAgendaSablonaToInsert)
        {
            cisAgendaSablonaToInsert = null;
        }

        if(agends.Contains(cisAgendaSablona))
        {
            dbContext.Remove<CisAgendaSablona>(cisAgendaSablona);
            dbContext.SaveChanges();
            agends.Remove(cisAgendaSablona);
            await agendaSablonaGrid.Reload();
        }
        else
        {
            agendaSablonaGrid.CancelEditRow(cisAgendaSablona);
        }
    }

    async Task InsertRow()
    {
        cisAgendaSablonaToInsert = new CisAgendaSablona();
        cisAgendaSablonaToInsert.GidSablona = Guid.NewGuid();
        await agendaSablonaGrid.InsertRow(cisAgendaSablonaToInsert);
    }

    void OnCreateRow(CisAgendaSablona cisAgendaSablona)
    {
        dbContext.Add(cisAgendaSablona);
        dbContext.SaveChanges();
    }

    void OnChange(Object guid)
    {
        if(cisAgendaSablonaToInsert==null){
            cisAgendaSablonaToInsert = new CisAgendaSablona();
        }
        cisAgendaSablonaToInsert.GidProjekt = (Guid)guid;
    }
}